* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  width: 100%;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;
}

/* Form */

.note-create-form {
  display: flex;
  gap: 10px;
  margin-bottom: 2rem;
}

.note-create-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
  font-size: 16px;
}

.note-create-form button {
  padding: 10px 20px;
  border: none;
  background-color: #2563eb;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.note-create-form button:hover {
  background-color: #1d4ed8;
}

/* Notes */

.notes {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.note {
  background-color: white;
  width: 280px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.heading {
  margin-bottom: 20px;
  color: #222;
}

.note h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #222;
}

.note p {
  color: #555;
  margin-bottom: 15px;
}

.btn { 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note .btn .btn1 {
  padding: 8px 12px;
  border: none;
  background-color: #dc2626;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.note .btn1:hover {
  background-color: #b91c1c;
}

.note .btn .btn2 {
  padding: 8px 12px;
  border: none;
  background-color: #223fe2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.note .btn2:hover {
  background-color: #1a24b4;
}